[all:vars]
ansible_user=${ansible_user}
ansible_ssh_private_key_file=${ansible_ssh_private_key_file}
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_python_interpreter=/usr/bin/python3

[rke_servers]
# This will be populated dynamically by the playbook
# Nodes with names starting with "server" will be added here

[rke_servers:vars]
node_type=server 